@import '../../../main-styles.scss';

.root {
    display: flex;
    width: 100%;
    position: relative;

    &:hover {
        .x-icon-button {
            opacity: 1;
            transform: scale(1);
        }
    }

    .x-icon-button {
        position: absolute;
        height: 2.2em;
        width: 2.2em;
        border-radius: 50%;
        background-image: url('../../../assets/delete_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: $dark;
        right: -1em;
        top: -1em;
        transition: opacity 200ms ease-in, transform 200ms ease-out;
        transform: scale(0);
        opacity: 0;
        cursor: pointer;

        &:hover{
            transform: scale(1.2);
        }

    }

}

.budget-item {
    display: flex;
    width: 100%;
    background-color: $light-grey;
    padding: .6em;
    border-radius: .2em;
    cursor: pointer;
    transition: background-color 200ms ease-out;

    &:hover {
        background-color: darken($light-grey, 2%);
    }

    .description {
        display: flex;
        flex-grow: 1;
        font-size: 1.2em;
        margin-left: .3em;
        align-items: center;
    }

    .amount {
        padding: .3em;
        border-radius: .2em;
    }

}

.expense {
    p {
        color: $red;
    }

    .amount {
        background-color: $light-red;
    }
}

.income {
    p {
        color: $green;
    }

    .amount {
        background-color: $light-green;
    }
}